// .footer{
//     width: 100%;
//     height: 25%;
//     padding: 5%;
//     text-align: center;
//     background-color: #E0E0E0;
//     color: black;
//     .fab {
//         padding: 2%;
//     }
//     a{
//         color: #00d1b2 !important;
//         text-decoration: none;
//     }
// }