// @import '../../service/scss/service.scss';

#home-page-content{
    height: 100%; 
    background-image: url(https://res.cloudinary.com/hiqohntech/image/upload/v1522449982/swirl.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.empty-space{
    height: 350px;
    width: 100%;
    background: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.service-content{
    min-height: 500px;
    width: 100%;
    margin: 0;
}
.left-content, .right-content{
    height: 100%;
    float: left;
    text-align: center;
    width: 100%;
}
.left-content{
    padding: 0;
    margin: 0;
}
.right-content {
    padding-top: 10%;
}
.service-img{
    height: 100%;
    width: 100%;
}
.is-light {
    background-color: #f5f5f5;
    color: #363636;
}
.is-info {
    background-color: #209cee;
    color: #fff;
}
div#triagle {
    width: 5%;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #363636;
    position: absolute;
    margin-left: calc(50% - 50px);
}
.service-content{
    padding: 0 !important;
    margin: 0 !important;
}
div#shape-wrapper {
    width: 100%;
    height: 100px;
}
@media screen 
  and (min-width: 768px) {
    .service-content{
        height: 500px;
    }
}

@media screen 
  and (max-width: 768px) {
    .empty-space {
        display: none;
    }
}