@import './theme.scss';
@import './main.scss';
@import '../../header/scss/header.scss';
@import '../../footer/scss/footer.scss';

p, a, {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.full-width{
    width: 100%;
}
.hidden{
    display: none;
}