@import '../../app/scss/theme.scss';

@keyframes animate-filter{
    0% {
        -webkit-filter: blur(1px) grayscale(100%);
        filter: blur(1px) grayscale(100%);
    }
    25% {
        -webkit-filter: blur(1px) grayscale(75%);
        filter: blur(1px) grayscale(75%);
    }
    50% {
        -webkit-filter: blur(1px) grayscale(50%);
        filter: blur(1px) grayscale(50%);
    }
    75% {
        -webkit-filter: blur(0px) grayscale(25%);
        filter: blur(0px) grayscale(25%);
    }
    100%{
        -webkit-filter: blur(0px) grayscale(0%);
        filter: blur(0px) grayscale(0%);
    }
}

@keyframes pop-up-image{
    0% {
        transform: scale(.25);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes slide-from-up{
    0% {
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0%)
    }
}

img.member-picture {
    border-radius: 200px;
    border-color: 0px solid white;
    height: 300px;
    width: 300px;
    padding: 2%;
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
    animation: pop-up-image 2s ease-in;
    box-shadow: $box-shadow-3;
}

img.member-picture:hover{
    -webkit-filter: blur(0px) grayscale(0%);
    filter: blur(0px) grayscale(0%);
}

.member {
    width: 33.33%;
    float: left;
    margin-bottom: 5%;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 0px;
    border-color: 0px solid white;
    p { 
        top: 200px; 
        left: 0; 
        width: 100%; 
        width: 80%;
        margin: 0% 10%;
    }
}

@media screen 
  and (max-width: 767px) {
    .member {
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
        color: black;
        font-weight: bold;
        p { 
            display: block;
            font-size: 18px;
            font-weight: bold;
            top: 200px; 
            left: 0; 
            width: 100%; 
            width: 80%;
            margin: 0% 10%;
        }
    }
}

@media screen 
  and (min-width: 768px) {
    .member {
        float: left;
        position: relative;
        p { 
            display: none;
            position: absolute; 
            background: black;
            width: 50%;
            margin-left: 25%;
            border-radius: 25px;
            opacity: .4;
        }
    }
    .member:hover{ 
        p {
            display: block;
            background: black;
            width: 60%;
            margin-left: 20%;
            border-radius: 20px;
            opacity: .4;
            animation: slide-from-up 2s ease-in-out;
        }
    }
}