.about-us {
    width: 50%;
    margin: auto;
    p{
        text-align: center;
        // text-indent: 50px;
    }
}

.about-us-wrapper{
    min-height: 60%;
    overflow: auto;
    max-width: 1920px;
    margin: auto;
    background-color: white;
    margin-top: 10%;
}

@media only screen 
  and (min-width: 1248px) {
      
}

@media screen 
  and (max-width: 768px) {
    .about-us {
        width: 90%;
    }
}