@import '../../app/scss/theme.scss';

.member{
    width: 33.333333333%;
    float: left;
}

.member-header{
    height: 210px;
}

img.member-picture{
    border-radius: 200px;
    margin: auto;
    width: 45%;
    margin-left: 5%;
    box-shadow: $box-shadow-3;
    animation: rotate-from-top-left 2s ease-in-out;
}

@keyframes rotate-from-top-left{
    0% {
        opacity: .1;
        transform: translateY(-100%) rotate(180deg);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.member-bio{
    width: 90%;
    padding: 5%;
    animation: slide-up 2s ease-in-out;
    p{
        text-align: justify;
        text-indent: 50px;
    }
}

.member-profile{
    width: 45%;
    padding-left: 2%;
    margin-left: 2%;
    float: right;
    height: 50%;
    border-left: 1px solid #ddd;
    animation: slide-in 2s ease-in-out;
    h3{
        font-family: "Roboto script=all rev=1";
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-bottom: 2%;
        word-wrap: break-word;
    }
    p{
        padding: 0;
        margin: 0;
    }

}

@keyframes slide-in{
    0% {
        opacity: .1;
        transform: translateX(75%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-up{
    0% {
        opacity: .1;
        transform: translateY(75%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen 
  and (max-width: 768px) {
    img.member-picture {
        height: 250px;
    }
    .member{
        width: 100%;
    }
    .member-header {
        height: 100%;
    }
    .member-profile{
        h3{
            font-size: 25px;
        }
    }
}

@media only screen 
  and (min-width: 768px)  {
    .member-header {
        height: 100%;
        padding-bottom: 15%;
    }
}

@media only screen 
  and (min-width: 1024px) {
    .member-header {
        height: 100%;
        padding-bottom: 5%;
    }
}