@import '../../../components/app/scss/theme.scss';
.hide{
    display: none;
}
.show{
    display: block;
}
#progress-bar{
    margin-left: 48%;
}
#success-alert, #failure-alert, #invalid-data{
    width: 90%;
    margin: 5% 5%;
    i:hover{
        cursor: pointer;
    }
}
.contact-wrapper{
    min-height: 100%;
    overflow: auto;
    max-width: 1920px;
    margin: auto;
    background-color: white;
    margin-top: 1%;
}
.contact-us-form {
    max-width: 1024px;
    width: 80%;
    padding: 5% 10%;

    .form-header{
        width: 100%;
        p{
            text-align: center;
        }
    }
    .mdl-button{
        width: 100%;
    }

}

.mdl-textfield {
    width: 100%;
}

.pageloader, .pageloader:not(.is-left-to-right), .pageloader:not(.is-right-to-left) {
    position: inherit !important;
    -webkit-transform: translateY(0%) !important;
    transform: translateY(0%) !important;
}

@media only screen 
  and (min-width: 1248px) {
    .contact-us-form {
        max-width: 1024px;
        width: 100%;
        margin: auto auto;
    }
}

@media screen 
  and (max-width: 768px) {
    .contact-us-form {
        width: 100%;
    }
}