// @import '../../../components/member/scss/member.scss';
@import '../../../components/team-member/scss/team-member.scss';

.team{
    min-height: 100%;
    width: 90%;
    margin: 5%; 
    overflow: hidden;
}

.team-wrapper{
    min-height: 100%;
    overflow: auto;
    background-color: white;
    margin-top: 1%;
    max-width: 1248px;
    margin: auto;
}